.contact {
    padding-bottom: 12rem;
    position: relative;
    text-align: center;
    width: 100%;

    &__blocks {
        margin: 0 auto;
        margin-top: 6rem;
        width: 100%;
        max-width: 120rem;

        &__block {
            background-color: $white;
            // cursor: pointer;
            display: inline-block;
            height: 40rem;
            margin: .6rem .3rem 0 .3rem;
            overflow: hidden;
            padding: 2rem;
            vertical-align: top;
            width: 48%;

            opacity: 0;
            transform: translateY(-1rem);
            visibility: hidden;

            transition: opacity .6s ease, transform .6s ease, visibility .6s ease;

            // * {
            //     cursor: pointer;
            // }

            &--visible {
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
            }

            &__title {
                font-family: "Roboto", sans-serif;
                font-size: 2.8rem;
                font-weight: 500;
                letter-spacing: 2px;
                margin-top: 3rem;
                text-transform: uppercase;
            }

            &__description {
                font-size: 1.8rem;
                letter-spacing: .5px;
                line-height: 150%;
                margin-top: 2rem;
            }
        }
    }
}

.contact__blocks__hover-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    visibility: hidden;
    transform: translateX(-100%);
    transition: transform .4s ease, visibility .4s ease;

    background-color: red;
}

.contact__blocks__block:hover {
    .contact__blocks__hover-block {
        transform: translateX(0);
        visibility: visible;
    }
}
