.contact__blocks__hover-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    visibility: hidden;
    transform: translateX(-100%);
    transition: transform .4s ease, visibility .4s ease;

    background-color: red;
}

.contact__blocks__block:hover {
    .contact__blocks__hover-block {
        transform: translateX(0);
        visibility: visible;
    }
}
