.about {
    background-color: #111;
    min-height: 100vh;
    overflow-x: hidden;
    padding-bottom: 12rem;
    position: relative;
    text-align: center;
    width: 100vw;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: transparent;
    }

    // &--transition {
    //     &:before {
    //         content: "";
    //         position: absolute;
    //         z-index: 1;
    //
    //         top: 0;
    //         right: 0;
    //         bottom: 0;
    //         left: 0;
    //
    //         background-color: transparent;
    //     }
    // }

    &__title {
        border-bottom: 2px solid $white;
        color: $white;
        display: inline-block;
        font-family: "Passion One", "Roboto", sans-serif;
        font-size: 7rem;
        font-weight: 400;
        letter-spacing: 7px;
        margin-top: 7rem;
        text-align: center;
        text-transform: uppercase;
    }

    &__blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 120rem;
        width: 90%;
    }

    &__block {
        border: 1px solid transparent;
        margin-top: 6rem;
        opacity: .4;
        padding: 4rem 2.6rem;
        text-align: center;
        transition: border-color .8s ease, opacity .8s ease;
        width: 48%;

        cursor: pointer;

        * {
            cursor: pointer;
        }

        &:hover, &:focus, &:active {
            border-color: $white;
            opacity: 1;
        }

        &--left {
            // float: left;
        }

        &--right {
            float: right;
        }

        &__title {
            color: $white;
            font-size: 3.4rem;
            font-weight: 400;
            letter-spacing: 4px;
        }

        &__description {
            color: $white;
            font-size: 1.8rem;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 200%;
            // margin-top: 4rem;
            text-align: justify;

            &--first {
                margin-top: 4rem;
            }
        }

        &__icon {
            display: inline-block;
            margin: 3rem 0 2rem 0;
            width: 8rem;

            &--trustworthy {

            }

            &--pricing {

            }
        }
    }
}

.about__redirect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 100rem;
    width: 90%;

    &__item {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        cursor: pointer;
        font-size: 2.2rem;
        font-weight: 500;
        letter-spacing: 3px;
        padding: 2rem 8rem;
        text-transform: uppercase;
        transition: background-color .5s ease, color .5s ease;

        &:hover, &:focus, &:active {
            background-color: $white;
            color: #111;
            cursor: pointer;
        }
    }
}

.about__copyright {
    background-color: #111;
    bottom: 0;
    padding: 3rem 0 1rem 0;
    position: fixed;
    text-align: center;
    width: 100vw;
    z-index: 999;

    &__text {
        color: $white;
        font-family: Roboto, sans-serif;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 145%;
        text-transform: uppercase;

        a {
            color: $white;
            font-weight: 400;
        }
    }
}
